@keyframes floatUp {
  0% {
    transform: translateY(100vh);
    opacity: 0.75;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

.floatingGif {
  position: absolute;
  bottom: 0;
  animation: floatUp linear infinite;
  opacity: 0;
  z-index: -1;
}
