.footer {
  position: relative;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  line-height: 0.75;
  color: #e7d1f5;

  & a {
    text-decoration: none;
  }
}
