.headerContainer {
  position: absolute;
  z-index: 999;
  top: 0;

  container: navbar / inline-size;
  overflow: hidden;

  width: 100%;
}

.header {
  height: var(--navbar-height);

  font-family: 'BD Cartoon Shout', Impact, Haettenschweiler, 'Arial Narrow Bold',
    sans-serif;
  color: var(--color-primary);
  text-shadow:
    5px 5px 0 #7a2b12,
    -5px -5px 0 #d45d39,
    5px -5px 0 #b33c18,
    -5px 5px 0 #8b3318;

  background-image: linear-gradient(
    to bottom,
    color-mix(in srgb, #000 0%, transparent),
    color-mix(in srgb, #000 15%, transparent)
  );
}

@container navbar (max-width: 640px) {
  .header {
    height: calc(var(--navbar-height) + 2rem);
  }
}
