.header {
  position: absolute;
  z-index: 999;
  top: 0;

  overflow: hidden;

  width: 100%;
  margin: 0;
  padding: 0;

  font-family: 'BD Cartoon Shout', fantasy;
  color: #e6f5cc;
  text-shadow:
    5px 5px 0 #7a2b12,
    -5px -5px 0 #d45d39,
    5px -5px 0 #b33c18,
    -5px 5px 0 #8b3318;

  background-image: linear-gradient(
    to bottom,
    rgb(0 0 0 / 0%),
    rgb(1 0 0 / 15%)
  );
}
