@font-face {
  font-family: Moderniz;
  src: url('../../assets/Moderniz.otf');
}

.tshirtContainer {
  position: relative;
  max-width: 85%;
}

.tshirt {
  max-width: 100%;
}

.tshirtOverlay {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin-top: 22%;

  text-align: center;
}

.tshirtText {
  font-family: Moderniz, sans-serif;
  font-size: min(2.75dvw, 1.75em);
  font-weight: bolder;
  color: rgb(27 24 24);
}

.tshirtImage {
  width: 37%;
}
