@font-face {
  font-family: Moderniz;
  src: url('../../assets/Moderniz.otf');
}

.tshirtContainer {
  position: relative;
  max-width: 100%;
}

.tshirt {
  max-width: 100%;
}

.tshirtOverlay {
  position: absolute;
  top: 27%;
  left: 27%;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;

  width: 45%;

  text-align: center;

  * {
    margin: 0;
  }

  p {
    font-family: Moderniz, sans-serif;
    font-size: min(3dvw, 2.5em);
    font-weight: bolder;
    color: rgb(27 24 24);
  }

  img {
    width: 75%;
  }
}
