@font-face {
  font-family: 'BD Cartoon Shout';
  src: url('./assets/BD_Cartoon_Shout.ttf') format('truetype');
}

.Main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-width: 320px;
  max-width: min(100dvw, 1280px);
  margin-top: var(--navbar-height);
  padding: 4rem 0 1rem;
}
