@font-face {
  font-family: 'BD Cartoon Shout';
  src: url('./assets/BD_Cartoon_Shout.ttf') format('truetype');
}

.notice {
  will-change: filter;
  width: 80%;
  padding: 1.5em;
  transition: filter 300ms;

  &:hover {
    filter: drop-shadow(0 0 2em #965e5caa);
  }
}

.card {
  display: flex;
  flex-wrap: wrap;
  place-content: center;

  max-width: 100%;
  padding: 2em;

  & > p {
    font-size: 1.5em;
  }
}
