:root {
  overflow-x: hidden;

  max-width: 100%;

  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: rgb(240 240 213);
  text-rendering: optimizelegibility;

  background-color: #52008c;
  background-image: url('./assets/Passion_Purple.gif');

  font-synthesis: none;
}

a {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  color: #89d615;
  text-decoration: underline;

  &:hover {
    color: #9f0;
  }
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;

  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-width: 320px;
  max-width: min(100dvw, 1280px);
  margin-top: 7.5em;
}

h1 {
  font-size: 3.2em;
  line-height: 1;
}

button {
  cursor: pointer;

  padding: 0.6em 1.2em;

  font-family: inherit;
  font-size: 1em;
  font-weight: 500;

  background-color: #b193b3;
  border: 1px solid transparent;
  border-radius: 8px;

  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}
